<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Inventory</h3>
      </div>

      <ul class="list-unstyled components">
          <li>
            Modules
          </li>

          <hr class="separator">
          
          <li>
            Categories
          </li>

          <hr class="separator">

          <li>
            Products
          </li>

          <hr class="separator">

          <li>
            Clients
          </li>

          <hr class="separator">

          <li>
            Suppliers
          </li>

          <hr class="separator">

          <li>
            <a href="#pageSubmenuSearch" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              Buscar
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenuSearch">
              <li>
                  a
              </li>
            </ul>
          </li>

          <hr class="separator">
          <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          </li>      
      </ul>
  </nav>

  <div id="content" class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
    </nav>
    <div class="container-fluid">
      <hr>
    </div>


    <%= render 'layouts/messages' %>